*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #2c3136, #2c354b, #3c365b, #593062, #8d2e6c);
    
}

#mainConSta{
    height: 80vh;
}
.logo{
    width: 150px;
}
.card{
    background-color: rgba(252, 216, 249, 0.658);
}

.color{
    color: azure;
    font-family: cursive;
}

.carrousel-cine{
    width: 100%;
    height: 300px;
    display: inline;
    object-fit: cover;
    object-position: 50% 50%;
}
.card-title{
    text-align: center;
    padding: .5rem;
    font-family: cursive;
}

.card-text{
    text-align: center;
    font-size: 1rem;
    font-style: italic;

}